
/* color styling for brand buttons */
:root {
  --main-brand-color: #fcd703;
  --shaded-brand-color: #caac02;
  --main-brand-font: Helvetica, Arial, sans-serif;
}


/* font selection for site */
body {
  font-family: var(--main-brand-font);
}


/* classes for modifying buttons and text to brand colors */
.brandFont {
  font-family: var(--main-brand-font);
}

.brandOutline {
  border-color: var(--main-brand-color);
  /* outline-width: 1px; */
}

.brandOutline:hover {
  background-color: var(--main-brand-color);
  /* color: lightgrey; */
}

.brandSolid {
  border-color: var(--main-brand-color);
  background-color: var(--main-brand-color);
}
.brandSolid:hover {
  border-color: var(--shaded-brand-color);
  background-color: var(--shaded-brand-color);
}

.brandText {
  color: var(--main-brand-color);
}

.brandText:hover {
  color: lightgrey;
}


/* parallax image containing panels */
.bg-cover {
  background-image: url("../images/walking.jpg");
  /* background-image: url("../images/therapy-session.webp"); */
  background-attachment: static;
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-size: auto 140vh;
  height: 100vh;
}

.picture-panel {
  height: 40vh;
  background-image: url("../images/photo2.jpg");
  background-attachment: static;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100vw auto;
}


/* Other panels */
.shaded {
  min-height: 325px;
  background-color: lightgrey;
}

.unshaded {
  background-color: white;
}


/* Styling for the page footer with navigation links */
.footer-panel {
  background-color: #343a40;
}

.footer-header {
  display: block;
  color: #8d9290;
  text-decoration: none;
}

.social-icon {
  display: inline-block;
  width: 40px;
}

.footer-link {
  display: block;
  color: #8d9290;
  text-decoration: none;
}

.footer-link:link {
    text-decoration: none;
    color: #8d9290;
}

.footer-link:visited {
    text-decoration: none;
    color: #8d9290;
}

.footer-link:active {
    text-decoration: none;
    color: #8d9290;
}

.footer-link:hover {
    text-decoration: none;
    color: #b1b4b3;
}


/* Form styles */

.formContainer {
  min-height: 100vh;
  margin-top: 100px;
}

.bot {
  display: none;
}
